<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <h1>Artists</h1>
    {{if .Artists}}
    <ul class="artist-container">
        {{range .Artists}}
        <li class="artist-card">
            <img src="{{.Image}}" alt="" width="100" height="100">

            <h2>{{.Members}}</h2>
            </li>
            {{end}}
            </ul>
            {{else}}
            <p>Loading artists</p>
            {{end}}
            <script src="main.js"></script>
</body>

</html>