<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <form action="">
        <label id="label"></label>
        <input type="text" placeholder="Enter Artist Name">
        <input type="submit" id="submitid" value="submit">
    </form>

    <script>
        label = document.getElementById("label")
        label.innerHTML = " Kindly Search Membres"
        function myFunction() {
            alert("Hello World!");
        }
        document.getElementById("submitid").addEventListener("click", myFunction)
       



    </script>
</body>

</html>